## Lets use this as a test for batter stats
We're going to run some tests on batters to get an idea of how the files are structured
We'll also verify stuff across other source
Like let's get some batters , check their status here and compare them in other places like, maybe, ESPNCrickinfo

In [1]:
import pandas as pd

In [4]:
# use the players_info.df to get the player id
df = pd.read_pickle('data/players_info.df')
df[df['player_name'].str.contains('Virat')]

,player_id,player_object_id,player_name,dob,dod,gender,batting_style,bowling_style,country_id
366,49752,253802,Virat Kohli,1988-11-05,NaN,True,right-hand bat,right-arm medium,6.0

In [8]:
df1 : pd.DataFrame = pd.read_pickle('data/players_info.df')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6701 entries, 0 to 6700
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player_id         6701 non-null   uint32
 1   player_object_id  6701 non-null   uint32
 2   player_name       6701 non-null   object
 3   dob               6674 non-null   object
 4   dod               1258 non-null   object
 5   gender            6701 non-null   bool
 6   batting_style     6608 non-null   object
 7   bowling_style     5547 non-null   object
 8   country_id        6699 non-null   float64
dtypes: bool(1), float64(1), object(5), uint32(2)
memory usage: 373.1+ KB

## Virat Kohli
player_id = 49752

In [6]:
df[df['player_name'].str.contains('Steven Smith')]

,player_id,player_object_id,player_name,dob,dod,gender,batting_style,bowling_style,country_id
206,50281,267192,Steven Smith,1989-06-02,NaN,True,right-hand bat,legbreak googly,2.0