In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('data/players_info.csv')

In [97]:
df.to_pickle('data/players_info.df')

In [100]:
df1 = pd.read_pickle('data/players_info.df')

In [101]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6701 entries, 0 to 6700
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player_id         6701 non-null   uint32
 1   player_object_id  6701 non-null   uint32
 2   player_name       6701 non-null   object
 3   dob               6674 non-null   object
 4   dod               1258 non-null   object
 5   gender            6701 non-null   bool
 6   batting_style     6608 non-null   object
 7   bowling_style     5547 non-null   object
 8   country_id        6699 non-null   float64
dtypes: bool(1), float64(1), object(5), uint32(2)
memory usage: 373.1+ KB

In [90]:
x = max(df['player_object_id'])
df['player_object_id'] = df['player_object_id'].astype(np.uint32)
print(x - max(df['player_object_id']))

0

In [58]:
df[df['player_name'].str.contains('Virat')]

,player_id,player_object_id,player_name,dob,dod,gender,batting_style,bowling_style,country_id
366,49752,253802,Virat Kohli,1988-11-05,NaN,M,right-hand bat,right-arm medium,6.0

In [ ]:
df[df['gender'] != 'M']

,player_id,player_object_id,player_name,dob,dod,gender,batting_style,bowling_style,country_id
512,49553,250386,Sami Rahmani,1988-08-13,NaN,F,right-hand bat,right-arm medium,204.0

In [95]:
df[df['country_id'].isna()]

,player_id,player_object_id,player_name,dob,dod,gender,batting_style,bowling_style,country_id
3278,78049,781133,Lee Hwanhee,1982-06-09,NaN,True,right-hand bat,right-arm offbreak,NaN
4481,106148,1196500,Zawar Farid,1992-07-25,NaN,True,right-hand bat,right-arm medium,NaN